@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* global styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  width: 100%;
}
ul {
  list-style-type: none;
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--clr-grayish-blue);
}

section {
  padding: 5rem 0;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}

/* variables */
:root {
  /* primary color */

  --white: hsl(0, 0%, 100%);
  --bright-cyan: hsl(192, 70%, 51%);
  --clr-light-grayish-blue: hsl(220, 16%, 96%);
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-grayish-blue: hsl(0, 0%, 98%);

  --ff-primary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 4rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  --max-width: 1440px;
  --mb-small: 1.6rem;
  --mb-medium: 3rem;
  --mb-large: 5rem;
  --gradiant: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
}

header {
  width: 100%;
  height: 7.5rem;
  padding: 1.5rem 0;
  background: var(--clr-white);
  position: relative;
  z-index: 99;
}

.logo {
  height: 2rem;
}

.check {
  display: none;
}

.hamburger {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: var(--transition);
}

.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-ul li {
  list-style: none;
  margin: 0 1.5rem;
}

li a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--grayish-blue);
  padding-bottom: 2rem;
  position: relative;
}

li a:hover {
  color: var(--dark-blue);
}

nav ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.3rem;
  background: var(--gradiant);
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: var(--transition);
}
nav ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

.btn {
  font-size: 1.1rem;
  color: var(--white);
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: var(--radius);
  background: var(--gradiant);
  opacity: 1;
  transition: var(--transition);
}

.btn:hover {
  opacity: 0.8;
  transform: scaleX(1.1);
}

/* media query */
@media screen and (max-width: 832px) {
  .btn {
    display: none;
  }

  .hamburger {
    display: inline-block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }

  .hamburger image {
    width: 2rem;
  }
  .nav-ul {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    margin-top: 4rem;
    background: var(--white);
    border: 1px solid skyblue;
    border-radius: 0.3rem;
    transform: translateY(-200%);
    transition: var(--transition);
    z-index: 999;
  }

  .nav-ul li {
    padding: 1rem 0;
  }
  li a {
    color: var(--dark-blue);
    font: 500;
  }

  li a:hover {
    color: var(--lime-green);
  }

  li a:hover::before {
    display: none;
  }

  /* slide menue */
  #toggle:checked ~ .nav-ul {
    transform: translateY(1%);
    transition: var(--transition);
  }
}
#toggle:checked ~ .hamburger {
  border: 1px solid red;
  border-radius: 0.3rem;
  padding: 0.4rem;
}
